{% extends "app_ka/layout.html" %}

{% block content %}

  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo">ჰონოიდი</h1>
    <p>Let's play a game.</p>
    {# <img src="/w3images/man_smoke.jpg" alt="boy" class="w3-image" width="992" height="1108"> #}
  </header>

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">სახელი</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>ან ბან გან დონ ენ ვინ ზენ თან ინ კან ლას მან ოე პე ჯე რე სე ტე უ ფ
    </p>
  </div>

{% endblock %}
