{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<script type="text/javascript" src="{% static "app/scripts/d3.v3.js" %}"></script>
<script type="text/javascript" src="{% static "app/scripts/bouncing-balls.js" %}"></script>
<div id="bouncing-balls" style="width:100%; height: 660px;">
	

</div>

<script type="text/javascript">
	var data = {{projects|safe}};
	var circles = [];
	for (var i = 0; i < data.length; i++) {
		var thisData = data[i].fields;
		var obj = {};
		obj.x = (i + 1) * 100;
		obj.y = (i + 1) * 123;
		circles.push(obj);
	}
	run(circles);
</script>
{% endblock content %}